extends ../layout/common
block content


    h1.text-center List Authors 
    div.d-flex.justify-content-between.my-5
        a.btn.btn-warning(href="/authors/create") Create New
        .info.d-flex
            img.mx-4(src= user.avatar , alt="", width="40")
            p.text-xl.mr-auto Hello #{user.username} !!
    
    form.form-group(action="/authors/search", method="GET", class="d-flex") 
        input.form-control(type="text", name="query", placeholder="Search for something .." value=values)
        button.btn.btn-primary Search 
        
    table.table
        tr 
            th Name
            th BirthYear
            th List Books
            th Action
        tr
        if authors
            each author in authors
                tr 
                    td= author.name
                    td= author.birthyear
                    td
                        ul 
                        each book in author.books 
                            li= book.title
                    td
                        a.btn.btn-Light(href="/authors/" + author._id) View
                        //- a(href="/users/remove/" + user.id) Delete
                        //- a(href="/users/update/" + user.id) Update

        